DISCORD_TOKEN=
GUILD_ID=
TOP_CHANNEL_ID=
SOURCE_CHANNEL_ID=
OWNER_USER_ID=
TAG_MAP=
BRAND_TEXT=
WATERMARK_LINES=
WATERMARK_ANGLE=
WATERMARK_OPACITY=
WATERMARK_COLOR=
WATERMARK_FONT_SCALE=
WATERMARK_STEP_X=
WATERMARK_STEP_Y=
BADGE_PATH=
BADGE_SCALE=
BADGE_OPACITY=
BADGE_PADDING=
BADGE_TEXT=
BADGE_TEXT_COLOR=
HINT_TITLE=
HINT_FOOTER=
